.game {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 100%;
  margin: 10px;
}

.board {
  display: grid;
  margin-top: 40px;
}
