img {
  width: 100px;
  height: 100px;
  padding: 2rem;
  border-radius: 10px;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470b0;
  }
}

img {
  float: left;
  background: #00decf;

  animation: expand 0.5s ease-in-out;
}
